.container{
    max-width:720px;
    margin: 0 auto;
    position:relative;
    min-height:100vh;
}
header{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
}
.company{
    margin-bottom:0;
}
.motto{
    font-size: 0.9rem;
    font-family: Arial, Helvetica, sans-serif;
    color:rgb(37, 119, 29);
    margin:2px auto;
}
nav{
    position:sticky;
    top:0;
    background: #ffff;
    display:flex;
    justify-content: space-between;
    box-shadow:-6px 0 white, 6px 0 white, 0 7px 5px -6px gray;
    font-size: .8rem;
}
nav a{
   text-decoration:none;
   color:black; font-family:'Poppins', sans-serif;
}
@media (max-width:450px){
    nav{
        flex-direction:column;
        align-items: center;
    }
    ul{
        flex-direction:column;
        
    }
}
.meat{
       
        margin-top:20px;
        display:grid;
        grid-template-columns: repeat(auto-fit,minmax(180px,1fr))   ;
        grid-template-rows: auto;
        grid-gap:10px;
}
.wrapper{
    padding-bottom:15rem;
}
.opp{
    /* border:1px solid black;*/
     display:flex;
     flex-direction: column;
     align-items: center;
     border-radius: 5px;
     box-shadow:0px 1px 4px gray;
     cursor:pointer;
     font-size: 0.8rem;
     font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.social{
    display:flex;
    gap:10px;
    justify-content: center;
}
footer{
    position: absolute;
    bottom:0;
    width:100%;
    height:13rem;
    background: rgb(199, 199, 230);
    text-align: center;
    padding:10px;
    margin-top:10px;
    box-sizing: border-box;
    font-family:  Helvetica, sans-serif;
    
}
.foot-para{
    display:flex;
    gap:20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 0.6rem;

}
.para{
    height:3rem;
    padding-bottom: 5rem;
}
.name-bottom{
    font-size: 0.8rem;
    color:white;
}
.ticker{
    font-size: 0.8rem;
}
.checks{
    display:flex;
    flex-direction: column;
}
.opp img{
     width:30px;
     height:30px;
     margin-top:8px;
     
}
.opp p{
    margin-top:0;
    
 
 